* {
  box-sizing: border-box;
}
body {
  font-family: monospace;
}
.title {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
label {
  font-size: 1.25rem;
}
main {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10rem;
  margin: 1rem;
}
select {
  font-size: 1rem;
  outline: none;
  margin-bottom: 1rem;
}
h1 {
  margin: 0.5rem 0 0.5rem 0;
}
.container > input {
  width: 4rem;
  margin: 0.5rem 1rem 0.5rem 0;
  font-size: 1rem;
  border: 1px solid;
  outline: none;
}
button {
  font-size: 1rem;
  font-weight: bold;
  font-family: monospace;
  margin: 1rem 0;
  background-color: transparent;
  border: 1px solid;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: color 0.3s linear;
}
button:hover {
  color: green;
}
.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p {
  font-size: 1rem;
  margin: 0.75rem 0;
}
